

.link {
  color: rgb(11, 81, 95);
}

.active {
  color: rgb(129, 97, 235); 
}




.listWrapper {
  padding-left: 0;
  margin-left: 40px; 
}


/* 
.listItem {
  text-align: left;
  color: rgb(44, 11, 75);
} */